.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 9px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin: 45px auto 0 277px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 169px;
  margin: -36px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -30px auto 0 277px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 58px auto 0 267px;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 169px;
  margin: -36px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -107px auto 0 267px;
}

@media (max-width: 1199px) {
 .u-section-1 .u-image-1 {
    width: 205px;
    height: 136px;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 225px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 225px;
  margin: -60px auto 0 227px;

  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 215px;
  }

  .u-section-1 .u-image-2 {
    width: 205px;
    height: 136px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -74px;
    margin-left: 215px;
  }
}

@media (max-width: 991px) {

.u-section-1 .u-image-1 {
    width: 150px;
    height: 100px;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 168px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 157px;
  }

  .u-section-1 .u-image-2 {
    width: 150px;
    height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -38px;
    margin-left: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 150px;
    height: 103px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 104px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 104px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 187px;
  }

  .u-section-1 .u-image-2 {
    width: 160px;
    height: 106px;
  }

  .u-section-1 .u-text-4 {
    
    margin-left: 187px;
  }
}